.not-found-page {
  text-align: center;
  height: 100vh;
  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 1.05rem;
  }
  a {
    font-size: 1.5rem;
    font-weight: bold;
  }
  img {
    max-width: 200px;
  }
}

.not-found-content {
  text-align: center;
  padding-top: 5em;
  h1 {
    margin-top: 0;
  }
  i.icon {
    font-size: 5em;
  }
  a {
    color: $main;
    font-size: 1.2em;
  }
}
