<tr>
  <td bgcolor="#FFFFFF" align="center">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td align="left">
            <table cellpadding="0" cellspacing="0" border="0" align="left" bgcolor="#14a8ea" style="border-radius:4px">
              <tbody>
                <tr>
                  <td width="518" align="center" valign="middle" height="65"><span style="color:#ffffff;text-decoration:none"><a href="{{ url }}" style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:16px;color:#ffffff;display:block;height:65px;line-height:65px;font-weight:normal;text-decoration:none;text-align:center!important;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sf1.welyx.com">{{ title }}</a></span></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
