<tr>
  <td bgcolor="#FFFFFF" align="center">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td height="15" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td height="30" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td bgcolor="#FFFFFF" align="center">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" >
      <tbody>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:16px;color:#505050;text-align:left;line-height:25.6px;font-weight:normal;text-transform:none">
            <div><span>MO.ST</span>team
            </div>
          </td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td height="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
