<tr>
  <td bgcolor="#FFFFFF" align="center">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
          <td height="44" style="font-size:1px;line-height:1px;"> </td>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
          <td align="center">
            <div>
              <img width="220" border="0" alt="Ryfma Santa" style="display:block;border:none;outline:none;text-decoration:none;" src="https://cdn.ryfma.com/defaults/icons/Santa.png"> </div>
          </td>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px;"></td>
          <td style="font-family:'Proxima Nova', Calibri, Helvetica, sans-serif;font-size:18px;color:#505050;text-align:left;line-height:25.6px;font-weight:normal;text-transform:none;">
            <p><strong>Поздравляем Вас с наступающим Новым годом!🎉</strong></p>
            <br>
            <p>Желаем Вам в новом году вдохновения, новых интересных книг, стихов и верных читателей!💞</p>
            <p>Весь 2019 год мы работали над тем, чтобы дать нашим авторам как можно больше возможностей для творческой реализации! Было проведено множество интересных конкурсов, открыты новые авторы и прочитаны запоминающиеся произведения. В конце года у наших пользователей появилась возможность зарабатывать своим творчеством, благодаря спонсорской помощи читателей <a href="https://ryfma.com/sponsors" target="_blank">https://ryfma.com/sponsors</a>!</p>
            <p>В тестовом режиме запущен раздел с книгами <a href="https://ryfma.com/books/all" target="_blank">https://ryfma.com/books/all</a>, который позволит авторам книг, рассказов, фанфиков делиться со своими читателями крупными литературными формами и зарабатывать продажей книг и/или сдачей их в аренду. Уже сейчас вы можете добавлять свои книги и пробовать новые функции.</p>
            <p>Если вы еще не попробовали все эти функции, то новогодние праздники - самое удачное время это сделать! И не забудьте поделиться своими мыслями и пожеланиями с нами, чтобы в 2020 году мы сделали Рифму еще лучше для вас.</p>
            <p>В последние дни уходящего года многие авторы опубликовали свои новогодние работы. А Вы уже написали праздничные произведения?🤔Поделитесь ими со своими читателями!</p>
          </td>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
          <td height="30" style="font-size:1px;line-height:1px;"> </td>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
