/* _post_min.css */
.post-page .rad-wrapper.amp-ad{margin:0 -1rem;max-height:320px;}.ui.card.recommended.horizontal.related-posts .rad-wrapper.amp-ad{margin:0 -1rem;max-height:320px;}
.ui.card.recommended.prev-next-posts .ui.items.amp-list{display:block;margin:0;}.ui.card.recommended.prev-next-posts .ui.items.amp-list>.item {width:100%;margin:0.5rem 0 1rem;}
