.footer {
  background: #2d2d2d!important;
  margin-top: 0!important;
  border-radius: 0!important;
  padding: 4em 0 3em!important;
  margin-bottom: 0!important;
  .ui.page.grid {
    padding-left: 10%;
    padding-right: 10%;
  }
  .ui.grid > .row {
    &.pages-links {
      padding: 2em 0 6em;
      .ui.link.list .item, .ui.link.list a.item, .ui.link.list .item a:not(.ui) {
        &.header {
          font-size: 1.5em;
          font-weight: bold;
          color: rgba(255,255,255,0.8);
          padding-bottom: 1.7rem!important;
          &:hover {
            color: rgba(255,255,255,0.8)!important;
          }
        }
        padding-bottom: 1.3rem;
        font-weight: 300;
        font-size: 1.1rem;
        a:hover {
          color: $main!important;
        }
      }
    }
    & > .column {
      text-align: left;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    padding: 0!important;
    margin-top: -0.45rem;
    svg {
      margin-top: 4px;
    }
    span {
      color: #ffffff;
      font-weight: 600!important;
      font-size: 2rem;
    }
    &:hover {
      span {
        color: $white!important;
      }
    }
  }
  .ryfma-desc {
    color: rgba(255,255,255,0.8);
    font-size: 0.85rem!important;
    padding-right: 3rem!important;
    padding-bottom: 0!important;
    margin-top: 0.5rem;
    line-height: 1.55!important;
  }
  .mobile-links {
    .item {
      padding-bottom: 0.85rem!important;
    }
    .ui.animated.button {
      width: 9.5rem;
      height: 3rem;
      margin: 0;
      padding: 0!important;
      font-size: 1.1rem!important;
      font-weight: bold!important;
      background-color: transparent!important;
      border-radius: 4px!important;
      img {
        width: 9.5rem;
      }
    }
  }
  .social-links {
    text-align: right!important;
    padding: 0 0.5em!important;
  }
  .ui.grid>.row.footer-bottom {
    justify-content: space-between!important;
    padding-left: 1rem;
    padding-right: 4.2rem;
    .item {
      font-size: 0.85rem!important;
    }
  }
}

.social-links {
  &.vertical {
    .ui.list.social-menu {
      font-size: 1rem;
      a {
        text-align: left!important;
        padding: 0.5em 0.2em;
        font-size: 1.4em;
        border-radius: 3px;
        &:hover, &:active, &:focus {
          background-color: $gray-lighter;
        }
      }
      i {
        display: inline-block;
        margin-right: 0.35em!important;
        font-size: 1.5em;
      }
      b {
        display: inline-block;
        margin: 0;
        font-size: 0.75em!important;
        max-width: 85%;
      }
    }
    .vk {
      i {
        color: #507299!important;
      }
    }
    .in {
      i {
        color: #833ab4!important;
      }
    }
    .tw {
      i {
        color: #1DA1F2!important;
      }
    }
    .fb {
      i {
        color: #3B5998!important;
      }
    }
    .ok {
      i {
        color: #EE8208!important;
      }
    }
  }
}

.social-menu {
  a {
    text-align: center!important;
    i {
      margin: 0 auto!important;
      padding: 0!important;
    }
  }
  b {
    display: block;
    margin-top: 6px;
    font-size: 0.9rem;
  }
  .vk {
    &:hover, &:active, &:focus {
      i {
        color: #507299!important;
      }
    }
  }
  .in {
    &:hover, &:active, &:focus {
      i {
        color: #833ab4!important;
      }
    }
  }
  .tw {
    &:hover, &:active, &:focus {
      i {
        color: #1DA1F2!important;
      }
    }
  }
  .fb {
    &:hover, &:active, &:focus {
      i {
        color: #3B5998!important;
      }
    }
  }
  .ok {
    &:hover, &:active, &:focus {
      i {
        color: #EE8208!important;
      }
    }
  }
}
