{{# layout }}

<tr>
  <td bgcolor="#FFFFFF" align="center">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
          <td height="44" style="font-size:1px;line-height:1px;"> </td>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:16px;color:#505050;text-align:left;line-height:25.6px;font-weight:normal;text-transform:none">
            <p><strong>Welcome MO.ST!</strong><br><br>Your friend {{user.profile.name}} invite you to join  MO.ST<br></p>
          </td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td height="30" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

{{> button url=url title=title }}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "EmailMessage",
    "action": {
      "@type": "ViewAction",
      "url": url,
      "name": "MO.ST invite"
    }
  }
</script>

{{/ layout }}
