{{# layout }}

<tr>
  <td bgcolor="#FFFFFF" align="center">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
          <td height="44" style="font-size:1px;line-height:1px;"> </td>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
          <td align="center">
            <div>
              <img width="160" border="0" alt="MO.ST Writer" style="display:block;border:none;outline:none;text-decoration:none;margin-left:-36px;" src="https://cdnryfma.s3.amazonaws.com/defaults/icons/pisatel.png"> </div>
           </td>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:16px;color:#505050;text-align:left;line-height:25.6px;font-weight:normal;text-transform:none">
            <p><strong>Добро пожаловать в сообщество <span>MO.ST</span>	!</strong><br><br>Активное сообщество из 70000+ писателей, поэтов и читателей. К Вашим услугам множество инструментов для работы:<br></p>
            <ul>
              <li><span style="line-height:25.6px">Удобный редактор для написания стихов и прозы (режим печатной машинки, красивая фоновая музыка)</span><br></li>
              <li><span style="line-height:25.6px">Рифмач - сервис по подбору рифм к словам</span><br></li>
              <li><span style="line-height:25.6px">Возможность писать и публиковать книги</span><br></li>
              <li><span style="line-height:25.6px">Левитан - фоторедактор для публикации стихов в соц.сетях</span><br></li>
              <li><span style="line-height:25.6px">И многое другое</span><br></li>
            </ul>
          </td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td height="30" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

{{> button url=url title="Войти на сайт!" }}

{{/ layout }}
