/* Editor */
.RyfmaEditor {
  box-sizing: border-box;
  cursor: text;
  caret-color: $main;
  margin-bottom: 4rem;
  &:global(.public-DraftEditor-content) {
    min-height: 140px;
  }
  .DraftEditor-root {
    min-height: 10em;
    min-height: calc(100vh - 25em);
    margin-top: 2rem;
    padding-bottom: 3rem;
    position: relative;
  }
  .DraftEditor-editorContainer {
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: normal;
    .public-DraftEditor-content > div > div {
      margin: 0 -1rem;
      padding: 0 1rem;
    }
  }
  .public-DraftEditorPlaceholder-root {
    position: absolute;
    left: 0;
    top: 0;
    color: $gray-dark;
    font-size: 1.2rem;
    margin-left: 0.1em;
    margin-top: 0.2em;
  }
}

.ui.search.dropdown .menu, .ui.selection.dropdown .menu {
  max-height: 20.685714rem;
}

.draftJsEmojiPlugin__emojiSelectPopoverNav__1Nzd7 {
  border-top: 1px solid $gray-light;
}
.draftJsEmojiPlugin__emojiSelectPopoverGroupTitle__2pC51 {
  margin: 1em 0 0.5em;
}

/* Editor Page */
.editor-page {
  margin: 0 auto;
  position: relative;
  .editor-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 4rem;
    background-color: $white;
    .editor-header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 54rem;
      padding: 1rem;
      margin: 0 auto;
      background-color: $white;
      border-bottom: 1px solid $gray-light;
      .extra-panel {
        &.playing {
          background-color: $black!important;
          border: none;
          svg {
            color: $white!important;
            opacity: 1;
          }
        }
        .ui.button.typewriter-mode {
          background-color: transparent!important;
          svg {
            color: $black!important;
          }
          &.active {
            background-color: $main!important;
            box-shadow: none!important;
            svg {
              color: $white!important;
            }
          }
        }
      }
      .actions-block, .status-block {
        display: flex;
        align-items: center;
      }
      .logo {
        width: 2.5rem;
        img {
          width: 100%;
        }
      }
      .content-status {
        line-height: 1;
        margin-right: 0.75rem;
        color: $gray;
        &.saved {
          color: $success;
        }
      }
      .save-delete-block {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-left: 1px solid $gray-light;
        display: flex;
        align-items: center;
        .delete-button {
          background-color: transparent!important;
          svg {
            color: $danger!important;
          }
        }
        .publish-button {
          font-size: 1rem!important;
          background-color: $main!important;
          color: $white!important;
          padding: 0.5rem 0.85rem!important;
        }
      }
    }
  }

  .editor-body {
    padding-top: 5rem;
    max-width: 52rem;
    margin: 0 auto;
    .image-editor-wrapper {
      min-height: 10rem;
      .image-editor-drop {
        padding: 3rem;
      }
      img {
        border-radius: 10px;
      }
    }
    .video-block {
      margin-top: 2rem;
      iframe {
        width: 100%;
        height: auto;
        min-height: 24rem;
      }
      a {
        float: right;
        cursor: pointer;
        &:hover, &:focus {
          color: $main;
        }
      }
    }
    .ui.input {
      width: 100%;
    }
    #post-title {
      border: none;
      font-size: 3rem;
      font-weight: bold;
      padding: 0.1rem 0;
      background-color: transparent;
    }
    .time-update {
      text-transform: uppercase;
      letter-spacing: 1px;
      opacity: 0.9;
      color: $black;
      font-size: 0.8rem;
      margin-top: 0.5rem;
    }
    .editor-stat {
      display: flex;
      align-items: center;
      margin-top: 0.2rem;
      &>div {
        display: flex;
        align-items: center;
        margin-left: 0.75rem;
        color: $gray-dark;
        &:first-child {
          margin-left: 0;
        }
      }
      svg {
        color: $gray-dark;
        font-size: 1rem;
        margin-right: 0.2rem;
      }
    }
  }
  .toolbar-icon {
    position: relative;
    display: inline-block;
    border-radius: 0.35rem!important;
    padding: 0.3rem 0.6rem!important;
    margin-left: 0.25rem;
    cursor: pointer;
    line-height: 1;
    &.error {
      background-color: $danger;
      svg {
        color: $white;
      }
    }
    &.active {
      svg {
        color: $main!important;
      }
    }
    &.payments-button {
      & > div {
        display: none;
      }
    }
    &.ui.button {
      background-color: transparent;
      svg {
        color: $black;
      }
      &.primary {
        svg {
          color: $white;
        }
      }
    }
    .price {
      font-size: 1.3rem;
      font-weight: bold;
      color: $main;
    }
    svg {
      margin: 0!important;
      color: $black;
      font-size: 1.3rem;
      vertical-align: middle;
    }
    &:hover, &:active, &:focus {
      background-color: $gray-light;
      color: $main;
      svg {
        color: $main!important;
      }
    }
  }
  /* .editor-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $white;
    .editor-footer-wrapper {
      max-width: 54rem;
      margin: 0 auto;
      padding: 0.35rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .actions {
        display: flex;
        align-items: center;
      }
      .editor-stat {
        display: flex;
        align-items: center;
        &>div {
          display: flex;
          align-items: center;
          margin-left: 0.5rem;
          color: $black;
        }
        svg {
          color: $black;
          font-size: 1rem;
        }
      }
    }
  } */
}

.ui.basic.button.help-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  margin-right: 0.5rem;
  padding: 0!important;
  text-align: center;
  box-shadow: 0px 0px 0px 3px rgba(34, 36, 38, 0.1);
  &:hover, &:active, &:focus {
    svg, svgs {
      color: $main;
    }
  }
  svg {
    margin: 0!important;
    font-size: 1.7rem;
    color: $black;
    margin-top: 0.5rem!important;
  }
}

.shortcuts {
  div {
    font-weight: bold;
  }
  b {
    border: $border;
    border-radius: 3px;
    padding: 2px 4px;
    background-color: $gray-light;
    margin-left: 2px;
  }
  ul {
    padding-left: 2em;
    font-size: 0.9em;
    list-style: none;
    padding: 0;
    padding-left: 0.5rem;
    li {
      margin: 6px 0;
    }
  }
}

.editor-popup {
  min-width: 16rem!important;
  max-width: 350px;
  h5 {
    font-size: 0.9rem;
  }
  .hint {
    font-size: 0.8rem;
    line-height: 1.2;
  }
  .image-editor-drop {
    font-size: 0.9rem;
  }
  & > div, label {
    color: $gray!important;
  }
  .ui.input {
    width: 100%;
    input {
      background-color: $gray-dark;
      color: $white;
    }
  }
  .ui.button.negative {
    background-color: transparent;
  }
  .ui.button.publish-button {
    margin-top: 1rem;
  }
  .ryfma-editors {
    margin-bottom: 1rem;
  }
  .export-formats {
    list-style: none;
    padding: 0;
    margin: 0;
    h5 {
      margin-bottom: 0;
    }
    li {
      display: inline-block;
      margin: 0 0.5rem;
      padding: 0.5rem;
      border-radius: 0.3rem;
      img {
        width: 3rem;
        color: $white;
        vertical-align: middle;
      }
      &:hover {
        background-color: $gray-dark;
      }
    }
  }
}

.payments-button, .albums-button {
  .menu {
    top: 115%!important;
    background-color: #1b1c1d!important;
    .header {
      color: $gray!important;
    }
    .item {
      color: $gray!important;
      &:hover, &:active, &:focus {
        background-color: rgba(78, 78, 78, 0.87)!important;
      }
      svg {
        color: $gray!important;
      }
      &.selected {
        color: $white!important;
        svg {
          color: $white!important;
        }
      }
      svg {
        margin-right: 0.5rem!important;
      }
      label {
        color: $gray!important;
      }
    }
  }
}

.ui.table.ambience {
  border: none;
  background-color: transparent!important;
  th {
    color: $gray;
  }
  tr {
    border-top: $border;
  }
  td {
    border: none;
    font-size: 0.9em;
    font-weight: 300;
    padding: 0.75rem 0px;
    color: $gray;
    cursor: pointer;
    &:first-child {
      padding-right: 1.5rem;
    }
    &:hover, &:active, &:focus {
      text-decoration: underline;
      .icon {
        border: $border;
      }
    }
    .icon {
      width: 2rem;
      height: 2rem;
      border-radius: 999em;
      font-size: 1.1em;
      margin-right: 0.5rem;
      padding: 3px 6px!important;
      text-align: center;
      &.active {
        border: $border;
        background-color: $gray-dark!important;
        color: $black;
        border: none;
      }
    }
  }
  thead th {
    border-bottom: 1px solid $gray-dark;
    background: transparent;
    padding: 0;
    padding-bottom: 12px;
  }
}

.schedule-picker {
  .DayPicker-Month {
    margin: 0;
    margin-top: 1rem;
  }
  .DayPicker-NavButton {
    right: 0.5rem;
  }
  .DayPicker-Day {
    color: #dce0e0;
    &.DayPicker-Day--disabled {
      color: #999;
    }
  }
  .scheduler-picker-desc {
    margin: 0.75rem 0.35rem;
    b {
      margin: 0 0.3rem;
      color: $white;
    }
  }
}
.time-schedule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .divider {
    margin: 0 0.3rem;
  }
  .ui.selection.dropdown {
    padding: .65rem 1.75rem .5rem .8rem;
    border: 0;
    min-height: 2.3rem;
    &>.dropdown.icon {
      right: 0.3rem;
    }
    .menu {
      border: 0;
      margin: 0;
      min-width: 100%;
      width: 100%;
      .item, .ui.dropdown {
        min-width: 100%;
        width: 100%;
        padding: .78rem 0.85rem!important;
      }
    }
  }
  .hours-minutes {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.button.clear-schedule {
    background-color: transparent;
    color: $white;
    background-color: $danger-light;
    margin-left: .75rem;
    font-size: .9rem!important;
    padding: 0.75rem 0.85rem!important;
    &:hover {
      opacity: 0.8;
    }
  }
}
.ui.label.pro-badge {
  padding: 2px 6px;
  margin-left: 4px;
  font-size: 0.55rem;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #FF648A;
  border: 1px solid #FF648A;
  line-height: 10px;
  cursor: pointer;
  &:hover, &:active, &:focus {
    background-color: #FF648A;
    border: 1px solid #FF648A;
    opacity: 0.8;
  }
}

.ui.popup {
  z-index: 9900;
  .content {
    font-size: 0.9rem;
    line-height: 1.3;
  }
}
/* Publish */
.ui.popup.editor-popup {
  z-index: 8000;
}

.ui.modal.publish-modal {
  .video-link .ui.input {
    width: 100%;
  }
  h5 {
    margin-top: 0;
  }
  hr {
    border-width: 0;
    border-top: 1px solid $gray-light;
    padding: 0;
    margin: 1rem 0;
  }
  .field {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    .ui.checkbox {
      margin-right: 0.5rem;
    }
  }
  .recent-tags {
    margin-top: 1rem;
    .recent-tags-list {
      margin-top: 0.5rem;
      a {
        display: inline-block;
        text-transform: capitalize;
        margin: .25rem;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        background-color: $gray-light;
        cursor: pointer;
        &:hover {
          background-color: $main-lighter;
        }
      }
    }
    .add-all-tags {
      color: $main;
      cursor: pointer;
      margin-left: 1rem;
    }
  }
  .tags-list {
    color: $black;
    .ui.multiple.search.dropdown.add-tags {
      background-color: $gray-lighter;
      padding: 0 8px;
      .default.text {
        width: 100%;
        padding: 8px;
        margin: 4px 0;
      }
      .ui.label {
        background-color: $main-lighter;
        color: $main;
        border: 0;
        padding: .6833em .9833em;
      }
      input {
        color: $black;
        max-width: 100%!important;
        min-width: 25%;
        margin: .6833em 0;
      }
      .menu {
        min-width: 16rem!important;
        margin: 0.5rem 0!important;
        border: 0;
      }
    }
  }
  .actions {
    text-align: center;
    background-color: $white;
    .ui.dropdown {
      .menu {
        min-width: 10rem!important;
        max-height: 13.5rem!important;
        padding-bottom: 0.75em!important;
        &>.header {
          white-space: normal;
        }
        &>.item {
          &:hover {
            color: $main!important;
          }
        }
      }
      &>.dropdown {
        svg {
          margin-left: 0.6em!important;
        }
      }
    }
    .ui.button {
      border-radius: 4px!important;
      background-color: $gray-light;
      color: $black;
      font-size: 1rem!important;
      padding: .8em 1.1em!important;
    }
    .ui.button.delete-button {
      background-color: $danger;
      color: $white;
      padding: .8em 1em!important;
      svg {
        margin: 0;
      }
    }
    .ui.button.publish-button {
      background-color: $main;
      color: $white;
      font-weight: bold!important;
      &:hover {
        background-color: $main-light;
      }
    }
    .ui.button.cancel-button {
      background: none;
      padding: .8em 1em!important;
    }
    .saving-block {
      display: block;
      width: 100%;
      padding: 1em 0.5em 0;
      color: $black;
    }
  }
}

.extra-features {
  text-align: left;
  .field {
    margin-bottom: 1rem;
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: $black;
    }
    & > label {
      width: 6rem;
      margin-right: 1rem;
    }
    & > div {
      flex: 1;
    }
    #post-price {
      font-weight: bold;
      font-size: 1.2rem;
      padding: .5rem 0.2rem 0.2rem;
      max-width: 5rem;
      margin-left: 1.9rem;
      margin-bottom: 0.2rem;
      text-align: center;
      border-top: none;
      border-left: none;
      border-right: none;
    }
    .sign {
      font-weight: bold;
      font-size: 1.2rem;
    }
    .hint {
      font-size: 0.8em;
      line-height: 1.1;
      margin-left: 1.9rem;
    }
  }
  .question {
    margin-left: 4px;
    color: $main;
  }
}
