.image-editor-wrapper {
  min-height: 10.75rem;
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  &:hover, &:active, &:focus {
    .image-editor-drop {
      border: dashed 2px $success;
      color: $success;
      i.icon {
        color: $success!important;
      }
    }
  }
  .image-editor-drop {
    height: 100%;
    width: 100%;
    border: dashed 2px $gray;
    color: $gray;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    padding: 24px;

  }
  .image-editor-actions {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 10;
    i.circular.icon {
      background-color: $white;
      cursor: pointer;
    }
  }
}
.ui.small.modal#image-editor-canvas {
  &.book-editor {
    width: 960px;
  }
  & > .header {
    display: none;
  }
  & > .content {
    text-align: center;
    padding: 0;
  }
  & > .actions {
    border: none;
    .button {
      box-shadow: none!important;
    }
  }
}

.photo-actions {
  text-align: center;
  margin-bottom: 1em;
}

.cropper-point {
  width: 12px!important;
  height: 12px!important;
  opacity: 0.85!important;
  border-radius: 999px;
  &.point-e {
    right: -6px!important;
  }
  &.point-n {
    top: -6px!important;
  }
  &.point-w {
    left: -6px!important;
  }
  &.point-s {
    bottom: -6px!important;
  }
  &.point-ne {
    top: -6px!important;
    right: -6px!important;
  }
  &.point-nw {
    top: -6px!important;
    left: -6px!important;
  }
  &.point-sw {
    bottom: -6px!important;
    left: -6px!important;
  }
  &.point-se {
    right: -6px!important;
    bottom: -6px!important;
  }
}
.cropper-line {
  opacity: 0.7!important;
  background-color: transparent!important;
  &.line-e {
    border-right: 2px dashed #39f!important;
    right: -1px!important;
    width: 0!important;
  }
  &.line-n {
    border-top: 2px dashed #39f!important;
    top: -1px!important;
    height: 0!important;
  }
  &.line-w {
    border-left: 2px dashed #39f!important;
    left: -1px!important;
    width: 0!important;
  }
  &.line-s {
    border-bottom: 2px dashed #39f!important;
    bottom: -1px!important;
    height: 0!important;
  }
}

.cropper-view-box {
  outline: none!important;
}
