.pagination {
  font-size: 1.2em;
  text-align: center;
  ul {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    li {
      display: inline-block;
      a {
        display: block;
        text-align: center;
        width: 2.6rem;
        height: 2.6rem;
        padding: 0.6rem 0.3rem 0;
        margin: 0 0.15rem;
        border-radius: 999em;
        cursor: pointer;
      }
      &.active {
        a {
          background-color: $main-light;
          color: $white;
          cursor: default;
          &:hover, &:active, &:focus {
            background-color: $main-light;
          }
        }
      }
      &.next, &.previous {
        margin-right: 1em;
        a {
          width: 2.7rem;
          height: 2.7rem;
          border: 1px solid $main-lighter;
          padding: 0.5rem 0.1rem;
          font-size: 1.5em;
          color: $main;
        }
      }
      &.next {
        margin-right: 0;
        margin-left: 1rem;
        a {
          padding: 0.5rem 0.3rem;
        }
      }
      &:hover, &:active, &:focus {
        a {
          background-color: $main-lighter;
        }
      }
    }
  }
  .break a {
    cursor: default;
  }
}
