<tr>
  <td bgcolor="#FFFFFF" align="center">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
          <td align="center">
            <div>
              <img width="160" border="0" alt="Ryfma Writer" style="display:block;border:none;outline:none;text-decoration:none;margin-left:-36px;" src="https://cdn.ryfma.com/defaults/icons/pisatel.png"> </div>
           </td>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:18px;color:#505050;text-align:left;line-height:25.6px;font-weight:normal;text-transform:none;text-align:center;">
            <p><strong>Восстановление пароля!</strong><br><br>Кажется Вы забыли свой пароль;)<br></p>
            <p>Мы поможем Вам получить новый пароль, для этого нажмите кнопку ниже</p>
          </td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <div itemscope itemtype="http://schema.org/EmailMessage">
       <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ViewAction">
          <link itemprop="target url" href="{{url}}">
          <meta itemprop="name" content="Сбросить пароль">
       </div>
       <meta itemprop="description" content="Получить новый пароль">
       <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
         <meta itemprop="name" content="Ryfma">
         <link itemprop="url" href="https://ryfma.com">
       </div>
    </div>
  </td>
</tr>
