<tr>
  <td bgcolor="#FFFFFF" align="center">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
          <td align="center">
            <div>
              <img width="160" border="0" alt="Ryfma Writer" style="display:block;border:none;outline:none;text-decoration:none;margin-left:-36px;" src="https://cdn.ryfma.com/defaults/icons/pisatel.png"> </div>
           </td>
          <td width="41" style="font-size:1px;line-height:1px;"> </td>
        </tr>
        <tr>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
          <td style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:18px;color:#505050;text-align:left;line-height:25.6px;font-weight:normal;text-transform:none;text-align:center;">
            <p><strong>Добро пожаловать в сообщество <span>Ryfma</span>	!</strong><br><br>Активное сообщество из 70000+ писателей, поэтов и читателей. К Вашим услугам множество инструментов для работы:<br></p>
            <ul style="text-align: left;">
              <li><span style="line-height:25.6px">Вы можете зарабатывать на подписке или на продаже своих стихов</span><br></li>
              <li><span style="line-height:25.6px">Получать официальные сертификаты на свои произведения.</span><br></li>
              <li><span style="line-height:25.6px">Искать или предлагать работу, связанную с текстом (Скоро).</span><br></li>
              <li><span style="line-height:25.6px">Удобный редактор для написания стихов и прозы (режим печатной машинки, красивая фоновая музыка)</span><br></li>
              <li><span style="line-height:25.6px">Рифмач - сервис по подбору рифм к словам</span><br></li>
              <li><span style="line-height:25.6px">Возможность писать и публиковать книги</span><br></li>
              <li><span style="line-height:25.6px">Левитан - фоторедактор для публикации стихов в соц.сетях</span><br></li>
              <li><span style="line-height:25.6px">И многое другое</span><br></li>
            </ul>
          </td>
          <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
